*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
app/app-release.apk
companion/companion-release.apk
*-release.apk
CellbotsLib/build/
app/libs/arm64-v8a/
app/libs/armeabi-v7a/
app/libs/armeabi/
app/libs/mips/
app/libs/mips64/
app/libs/x86/
app/libs/x86_64/
detectionapp/build/
robot/build/*
robot/libs/arm64-v8a/
